<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Figura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Figura.Properties.Settings>
            <setting name="Cuadrado" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrianguloEquilatero" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Circulo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Trapecio" serializeAs="String">
                <value>4</value>
            </setting>
        </Figura.Properties.Settings>
    </userSettings>
</configuration>